<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>메인 페이지</title>
  </head>
  <body>
    <!-- 상단 질문 답변 -->
    <div class="qna-wrap">
      <div calss="questions"></div>
      <div class="answer"></div>
    </div>

    <!-- 언론사 리스트 -->
    <div>
      <li id="gyeonghyang">경향신문</li>
      <li id="gukmin">국민일보</li>
      <li id="donga">동아일보</li>
      <li id="munhwa">문화일보</li>
      <li id="seoul">서울신문</li>
      <li id="segye">세계일보</li>
      <li id="joseon">조선일보</li>
      <li id="jungang">중앙일보</li>
      <li id="hangyeorye">한겨레</li>
      <li id="hanguk">한국일보</li>
    </div>

    <!-- 결과창 -->
    <div class="contents-wrap">
      <div class="content-box">
        <!-- 이미지 라인 -->
        <div class="img-data"></div>
        <div class="contents-data">
          <!-- 제목 라인 -->
          <div class="title"></div>
          <!-- 요약 라인 -->
          <div class="content"></div>
        </div>
      </div>
    </div>
  </body>

  <!-- jQuery 가져오기 -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
    $(document).ready(function () {
      // 버튼 클릭 이벤트
      $("#donga").click(function () {
        // 서버에 데이터를 요청하는 AJAX 호출
        $.ajax({
          type: "POST",
          url: "/get_newsList",
          data: {
            data1:
              "https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=020",
          },
          success: function (response) {
            console.log("data" + response);
            // 성공 시 결과를 출력
            $(".title").html(response[0].title);
            // 이미지 삽입
            $(".img-data").html(
              '<img src="' + response[0].img + '" alt="Image">'
            );
            // href 삽입
            $(".title").html(
              '<a href="' + response[0].href + '">' + response[0].title + "</a>"
            );
          },
        });
      });
    });
  </script>
</html>
